/* Transiciones */
body {
    transition: background 0.4s, color 0.4s;
}

/* Modo Claro */
body.light {
    background: #000000 !important;
    color: #ffffff !important;
}
/* Modo oscuro */
body.dark {
    background: #ffffff !important;
    color: #000000 !important; 
}

/* Estilo del botón de tema */
body.dark #btn-theme {
    color: #ffdb58; 
    border-color: #ffdb58;
}

body.light #btn-theme {
    color: #555;
    border-color: #555;
}

/* Foto de perfil */
.foto-perfil {
    width: 150px;      
    height: 150px;     
    object-fit: cover; 
    border-radius: 50% !important;
    display: block;
    margin: 20px auto; 
}

/* Secciones */
.seccion {
    margin-top: 80px;
}

.seccion.activa {
    background-color: #f1efd0;
    padding: 20px;
    border-radius: 8px;
    color: #000; /* Texto oscuro para que resalte en el fondo crema */
}

/* Footer ajuste para modo oscuro */
body.dark footer {
    border-top: 1px solid #333 !important;
}
